<span class="share-buttons">
	<a href="https://twitter.com/intent/tweet?source={{ .Permalink }}&text={{ .Title }}:{{ .Permalink }}" target="_blank" title="Tweet"><i class="fa fa-twitter-square fa-lg"></i></a>
	<a href="https://plus.google.com/share?url={{ .Permalink }}" target="_blank" title="Share on Google+"><i class="fa fa-google-plus-square fa-lg"></i></a>
	<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}&summary={{ .Title }}&source={{ .Permalink }}" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin-square fa-lg"></i></a>
</span>
