/* Custom site style */

/* Align social buttons */
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

/* Sidebar list */
p.sidebar-list-label {
    margin-bottom: 0;
}
a.tags:link    { font-size:85%; }
a.tags:link    { color:#c0c0c0;text-decoration:none;}
a.tags:visited { color:#c0c0c0;text-decoration:none;}
a.tags:hover   { color:#808080;text-decoration:underline;}
